<html>
	<head>
		<title>About</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
  <a class="material-icons" style="font-size:23px" href="/home">&#xe88a;</a>
  <a href="/about" title="about">About</a>
    <div class="topnav-right">
        <a href="/user_login" title="signin">Login</a>
        <a href="/user_register" title="signup">Signup</a>
        <a href="/help" title="contact us">&#9742</a>
    </div>
</div>
<p>Flood acts as a major cause of destruction, loss of
  property and life. This results in sociological as well as
  economic loss. Prediction plays a major role to avoid such
  calamities .This project presents the Flood prediction and
  Rainfall analysis using Machine Learning .</p><p>
  
  The main goal of employing this application is to prevent immediate impacts
  of flood .This application can be easily used by the common
  people or government to predict the occurrence of flood
  beforehand .</p><p>
  
  Prediction of flood is done by analyzing using
  previous data, map the flood concentration, and then provide
  them necessary help through helpline for further evacuation
  or any other necessary precautions .</p>
  <p>
  Machine Learning algorithms such as Linear Regression ,Gaussian Naïve bayes, 
  KNN, Support vector classification and Decision tree
  are used to build the model.
  </p>
</body>
</html>