<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
	<a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
  <a href="/aboutafterlogin" title="about">About</a>
    <a href="/rainfall_analysis_predict"title="Rainfall prediction">Rainfall Analysis</a>
  <a href="/predict"title="Predict">Flood Prediction</a>
	  <div class="topnav-right">
		<a href="/logout" title="Logout">Logout</a>
        <a class="material-icons" style="font-size:23px" href="/index">&#xe7ff;</a>
		  <a href="/helpafterlogin" title="contact us">&#9742</a>
	  </div>
</div>
	
</body>
</html>