<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
	<a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
	<a href="/aboutafterlogin" title="about">About</a>
    <a href="/rainfall_analysis_predict" title="Rainfall prediction">Rainfall Analysis</a>
	<a href="/predict" title="Predict">Flood Prediction</a>
	  <div class="topnav-right">
		  <a href="/logout" title="Logout">Logout</a>
        <a class="material-icons" style="font-size:23px" href="/index">&#xe7ff;</a>
		  <a href="/helpafterlogin" title="contact us">&#9742</a>
	  </div>
</div>

<form method="POST" >
  <label for="subdivision">Choose a Subdivision:</label>
  <select name="subdivision" id="subdivision">
      <option>Choose a Subdivision</option>
      <option value="ANDAMAN & NICOBAR ISLANDS">ANDAMAN & NICOBAR ISLANDS</option>
      <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
      <option value="ASSAM & MEGHALAYA">ASSAM & MEGHALAYA</option>
      <option value="NAGA MANI MIZO TRIPURA">NAGA MANI MIZO TRIPURA</option>
      <option value="SUB HIMALAYAN WEST BENGAL & SIKKIM">SUB HIMALAYAN WEST BENGAL & SIKKIM</option>
      <option value="GANGETIC WEST BENGAL">GANGETIC WEST BENGAL</option>
      <option value="ORISSA">ORISSA</option>
      <option value="JHARKHAND">JHARKHAND</option>
      <option value="BIHAR">BIHAR</option>
      <option value="EAST UTTAR PRADESH">EAST UTTAR PRADESH</option>
      <option value="WEST UTTAR PRADESH">WEST UTTAR PRADESH</option>
      <option value="UTTARAKHAND">UTTARAKHAND</option>
      <option value="HARYANA DELHI & CHANDIGARH">HARYANA DELHI & CHANDIGARH</option>
      <option value="PUNJAB">PUNJAB</option>
      <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
      <option value="JAMMU & KASHMIR">JAMMU & KASHMIR</option>
      <option value="WEST RAJASTHAN">WEST RAJASTHAN</option>
      <option value="EAST RAJASTHAN">EAST RAJASTHAN</option>
      <option value="WEST MADHYA PRADESH">'WEST MADHYA PRADESH</option>
      <option value="EAST MADHYA PRADESH">EAST MADHYA PRADESH</option>
      <option value="GUJARAT REGION">GUJARAT REGION</option>
      <option value="SAURASHTRA & KUTCH">SAURASHTRA & KUTCH</option>
      <option value="KONKAN & GOA">KONKAN & GOA</option>
      <option value="MADHYA MAHARASHTRA">MADHYA MAHARASHTRA</option>
      <option value="MATATHWADA">MATATHWADA</option>
      <option value="VIDARBHA">'VIDARBHA</option>
      <option value="CHHATTISGARH">CHHATTISGARH</option>
      <option value="COASTAL ANDHRA PRADESH">COASTAL ANDHRA PRADESH</option>
      <option value="TELANGANA">TELANGANA</option>
      <option value="RAYALSEEMA">RAYALSEEMA</option>
      <option value="TAMIL NADU">TAMIL NADU</option>
      <option value="COASTAL KARNATAKA">COASTAL KARNATAKA</option>
      <option value="NORTH INTERIOR KARNATAKA">NORTH INTERIOR KARNATAKA</option>
      <option value="SOUTH INTERIOR KARNATAKA">SOUTH INTERIOR KARNATAKA</option>
      <option value="KERALA">KERALA</option>
      <option value="LAKSHADWEEP">LAKSHADWEEP</option>

  </select>
  <br><br>
  <input type="submit" value="submit">


</form>
</body>
</html>